.marginado{
	margin-left: 20px;
}
.espaciados{
	margin-top: 10px;
}
.botoncito{
	background-color: #A76328;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button > h2{
	color: white
}
.holiwis{
	font-size: 38px;
}